<style type="text/css">
<!--
.style2 {
	color: #FFFFFF;
	font-family: "Century Gothic";
}
.style3 {font-size: 18px}
.style4 {
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
}
a:link {
	color: #FFFFFF;
	font-style: italic;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FF0000;
}
a:active {
	text-decoration: none;
}
a {
	font-style: italic;
}
.style7 {font-size: 28px; font-family: "Kristen ITC"; font-style: italic; }
.style8 {font-size: 28px; font-family: "Kristen ITC"; color: #FFFFFF; }
.style9 {font-size: 36px; font-family: "Kristen ITC"; color: #000000; }
-->
